# Eclipse stuff
/.classpath
/.project
/.settings

# Netbeans stuff
/nbproject

# IntelliJ Stuff
/*.iml
/.idea

# Misc
/bin
/dist
/manifest.mf
/.fatjar
/build
/target

# Mac filesystem stuff
.DS_Store
.DS_Storetarget